// imports
@import 'variables';
@import 'mixins';
@import 'typography';

// sections
@import '/assets/scss/_sections/section1';
@import '/assets/scss/_sections/section2';
@import '/assets/scss/_sections/section3';


// global styling
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

body {
    background-color: $secondary;
}

.section {
    background-color: $secondary;
    color: $smoke-white;
    padding: $spacer-6 $spacer-8;
    height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    @include breakpoint-max-width(md) {
        padding: $spacer-2 $spacer-3;
        height: fit-content !important;
    }

    @include breakpoint-max-width(lg) {
        padding: $spacer-6 $spacer-5;
    }
}