.projects {
    height: fit-content !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__title {
    margin-top: $spacer-2;
    margin-bottom: $spacer-5;
}

.projects__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 80%;
    max-width: $max-width;
    gap: $spacer-6;

    @include breakpoint-max-width(lg) {
        width: 95%;
    }
}