.projects {
    height: fit-content !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 80%;
    max-width: 1000px;
    border: 1px solid pink;
}